In [37]:
import numpy as np
import pandas as pd
import matplotlib. pyplot as plt

In [38]:
data = pd.read_excel ('D:/Kuliah/robit/shooping_demo.xls')

In [39]:
data.head()

       Day Discount Free Delivery  Buy
0  Weekday      Yes           Yes  Yes
1  Weekday      Yes           Yes  Yes
2  Weekend       No            No   No
3  Holiday      Yes           Yes  Yes
4  Weekday      Yes           Yes  Yes

In [40]:
data.shape

(50, 4)

In [41]:
data['Buy'].value_counts()

Yes    41
No      9
Name: Buy, dtype: int64

In [57]:
PYes = 41/50
PNo = 9/50

In [58]:
print (PYes)

0.82

In [59]:
print (PNo)

0.18

In [60]:
pd.crosstab(data['Day'], data['Buy'])

Buy      No  Yes
Day
Holiday   6   18
Weekday   2    9
Weekend   1   14

In [61]:
PHolidayNo = 6/9
PWeekdayNo = 2/9
PWeekendNo = 1/9

PHolidayYes = 18/41
PWeekdayYes = 9/41
PWeekendYes = 14/41

PHoliday = 24/50
PWeekday = 11/50
PWeekend = 15/50

print(PWeekdayYes)

0.21951219512195122

In [62]:
# P(A/B) ?
# P (B) = PWeekday
# P (A) = No Buy
# P/(B/A) P Weekday/NoBuy

In [63]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print (PNoWeekday)

0.1818181818181818

In [64]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print(PYesWeekday)

0.8181818181818181

In [65]:
# probabilitas (Buy/Weekday)  > dibanding dengan probablitas (NoBuy/Weekday) 
print(PNoWeekday)
print(PYesWeekday)

0.1818181818181818
0.8181818181818181

In [66]:
# kondisi B dimana
# Day = Holiday
# Discount = Yes 
# Free  Delivery = Yes
# A = Buy
# P(A/B) = P(Buy/DiscountYes, PDayHoliday)

In [67]:
pd.crosstab(data['Discount'], data['Buy'])

Buy       No  Yes
Discount
No         5   12
Yes        4   29

In [69]:
PNoDiscountNo = 5/9
PYesDiscountNo = 4/9

PNoDiscountYes = 12/41
PYesDiscountYes = 29/41

PNoDiscount = 17/50
PYesDiscount = 33/50

In [70]:
pd.crosstab(data['Free Delivery'], data['Buy'])

Buy            No  Yes
Free Delivery
No              4   10
Yes             5   31

In [71]:
PNoFreeDeliveryNo = 4/9
PYesFreeDeliveryNo = 5/9

PNoFreeDeliveryYes = 10/41
PYesFreeDeliveryYes = 31/41

PNoFreeDelivery = 14/50
PYesFreeDelivery = 36/50

In [72]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes 
# Free Delivery = Yes
# P(A) = NoBuy = PNo
# P(B) = PYesDiscount,PYesDelivery,PHoliday
# P(B/A)1 = (PHoliday/No Buy) = PHolidayNo
# P(B/A)2 = (PYesDiscount/No Buy) = PYesDiscountNo
# P(B/A)3 = (PYesDelivery/ No Buy) = PYesDeliveryNo
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

#ditanyakan P(A/B) ?
#Rumus
# P(A/B) = P(B/A)*P(A)/P(B)

In [74]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesFreeDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesFreeDelivery)
print(PNoBuy1)

0.12989982125784594

In [75]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = Buy = PYes
# P(B) = PYesDiscount,PYes

# Kondisi B dimana
# Day = Holiday
# Discount = Yes 
# Free Delivery = Yes
# P(A) = Buy = PYes
# P(B) = PYesDiscount,PYesDelivery,PHoliday
# P(B/A)1 = (PHoliday/Buy) = PHolidayYes
# P(B/A)2 = (PYesDiscount/Buy) = PYesDiscountYes
# P(B/A)3 = (PYesDelivery/Buy) = PYesDeliveryYes
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

#ditanyakan P(A/B) ?
#Rumus
# P(A/B) = P(B/A)*P(A)/P(B)

In [77]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesFreeDeliveryYes)*PYes)/(PHoliday*PYesDiscount*PYesFreeDelivery)
print(PBuy2)

0.8440667832398943

In [78]:
# probability of NoBuy = 0.12989982125784594
# probability of NoBuy = 0.8440667832398943

In [79]:
PSum = PNoBuy1+PBuy2
print(PSum)

0.9739666044977402

In [80]:
PBuy = (PBuy2/PSum) *100
print(PBuy)

86.66280541263185

In [81]:
PNoBuy = (PNoBuy1*PSum) *100
print(PNoBuy)

12.651808783536758